*~
*.swp
*.swo
*.o
.*.cmd
.*.mod
*.mod*
.*.d
*.ko
*.tmp_version
*.symvers
*.order
*obj
*.d
gpio-new/gpio-event-mon
gpio-new/gpio-hammer
gpio-new/lsgpio
gpio/gpio-test
serial/ser
watchdog/watchdog-simple
watchdog/watchdog-test
i2c/i2c/i2c-test
